.Wapper
  = image_tag ('HIMARI_alexander-sporre-photography-15.jpg' ), class:'Wapper__Top_image'
  .Wapper__Top_image__box 
    .Wapper__Top_image__box__name
      HimaRi
.Wapper__bottom
  = link_to 'Cake' , posts_new_path , class:'list'
  = link_to 'Smoothie' , '#' ,  class:'list'
  = link_to 'Lunch' , '#' ,  class:'list'
  = link_to 'Event' , '#' , class:'list'